# Jinja Template message_type.py.jinja2
from __future__ import annotations
from typing import TYPE_CHECKING
from spine.base import SpineBase, spine_type
from spine.type_registry import TypeRegistry

if TYPE_CHECKING:
{% for imp in imports %}    {{ imp }}
{% endfor %}

{% if is_ship_msg_type %}
{%- set base_type = 'ShipMessageType' if folder == 'ship' else 'SpineMessageType' %}{% endif %}
{%- for class_type in types %}
@spine_type('{{ class_type.fq_name }}', is_value_type={{ "True" if class_type.return_type == 'value' else "False" }}, no_attrib_name={{ "True" if class_type.no_attrib_name else "False" }})
class {{ class_type.class_name }}(SpineBase{% if is_ship_msg_type %}, {{ base_type }}{% endif %}): # {{ class_type.info_comment }}
    _MEMBER_INFO = [
{% for m in class_type.members %}        {
            "name": "{{ m.snake_case_name }}",
            "xml_name": "{{ m.member_name }}",
            "type": "{{ m.data_type.fq_name }}",
            "is_array": {{ "True" if m.is_array else "False" }},
            "is_optional": {{ "True" if m.has_default_or_optional else "False" }},
            "class_check": "{{ m.class_check }}"
        },
{% endfor %}    ]

{% endfor %}
